.resume {
  color: #D1E8E2;
  margin: 0 auto;
}

.resume h1, p {
  text-align: center;
}

.resume-pdf {
  margin: 0 auto;
  display: block;
  max-width: 720px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

.download-button {
  margin: 0 auto;
  display: block;
  background-color: #116466;
  border-radius: 8px;
  color: #D1E8E2;
  padding: 10px 30px;
  border: 2px solid #FFCB9A;
}
