.resume {
  color: #D1E8E2;
}

.resume h1 {
  text-align: center;
}

.resume img {
  margin: 0 auto;
  display: block;
}

.download-button {
  margin: 0 auto;
  display: block;
  background-color: #116466;
  border-radius: 8px;
  color: #D1E8E2;
  padding: 10px 30px;
  border: 2px solid #FFCB9A;
}
