.resume {
  color: #D1E8E2;
  margin: 0 auto;
  
  div{
    max-width: 100%;
  }
}

.resume h1, p {
  text-align: center;
}

.resume-pdf {
  margin: 0 auto;
  padding-left: 25%;
  max-width: 730px;
  // display: block;
}

.download-button {
  margin: 0 auto;
  display: block;
  background-color: #116466;
  border-radius: 8px;
  color: #D1E8E2;
  padding: 10px 30px;
  border: 2px solid #FFCB9A;
}
